/* You can add global styles to this file, and also import other style files */

html {
  padding: 16px;
  font: 400 18px/26px 'IBM Plex Sans', sans-serif;
  background-color: #ccc;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #06a;

  &:visited {
    color: #03a;
  }
  &:active {
    color: #a03;
  }
}

h1 {
  margin: 1rem 0 0.5rem;
  font: 700 2.6rem/3.3rem 'IBM Plex Serif', serif;

  &.home-title {
    margin-top: 0;
    font-size: 3.2rem;
    line-height: 4.0rem;
  }
}

h2 {
  margin: 2rem 0 0.5rem;
  font: 700 1.8rem/2.2rem 'IBM Plex Serif', serif;

  &.home-subtitle {
    margin-top: -0.3rem;
    font-size: 1.6rem;

    a {
      text-decoration: none;
    }
    .avatar {
      width: 2rem;
      border-radius: 1rem;
      vertical-align: -0.3rem;
    }
  }
}

.date {
  margin: 0.5rem 0 0.7rem;
  font: 400 1rem/1.2rem 'IBM Plex Serif', serif;
  color: #666;

  a {
    text-decoration: none;
  }
  .avatar {
    width: 1.4rem;
    border-radius: 0.7rem;
    vertical-align: -0.4rem;
  }
}

.site-title {
  font: 700 1.6rem/2.2rem 'IBM Plex Serif', serif;

  a {
    color: #000;
  }
}

footer {
  margin: 4rem 0 0;
  font-size: 0.7rem;
}
