/* You can add global styles to this file, and also import other style files */

html {
  padding: 16px;
  font: 400 16px/18px 'IBM Plex Sans', sans-serif;
  background-color: #ccc;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #06a;

  &:visited {
    color: #30a;
  }
  &:active {
    color: #a03;
  }
}

h1 {
  margin: 1rem 0 0.5rem;
  font: 700 3.3rem/4rem 'IBM Plex Serif', serif;

  &.home-title {
    margin-top: 0;
    font-size: 4rem;
    line-height: 4.6rem;
  }
}

h2 {
  margin: 2rem 0 0.5rem;
  font: 700 1.8rem/2.2rem 'IBM Plex Serif', serif;
}

.date {
  margin: 0.5rem 0 0.7rem;
  font: 400 1rem/1.2rem 'IBM Plex Serif', serif;
  color: #666;
}

.site-title {
  font: 700 1.8rem/2.2rem 'IBM Plex Serif', serif;

  a {
    color: #000;
  }
}

footer {
  margin: 4rem 0 0;
  font-size: 0.7rem;
}
